/* TODO: add scroll snap if possible */

/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* variables */
:root {
	/* TODO: add repeated variables here */
	--bg-color: #ffffff;
}

/* universal selectors  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* for smoother scrolling */
html {
	scroll-behavior: smooth;
}

/* flex the sections */
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	position: relative;
	background-color: white;
	overflow-x: hidden;
}

/* limit the width by the car's original image dimension ratio (1499 x 842) so it doesn't spoil the car's shape on the page */
main {
	background-color: #fff2cc;
	max-width: calc(100vh * 1499 / 842);
	z-index: 1;
}

main > header {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-items: flex-start;
}

/* nav bar */
nav {
	align-self: center;
	margin: auto;
	width: 100vw;
	position: fixed;

	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-between;
	max-width: calc(100vh * 1499 / 842); /* limit navbar by the car's original dimensions so it sits inside the frame vertically aligned to the car */
	padding-right: 10px;
	z-index: 9000;
}
@media screen and (max-width: 768px) {
	nav {
		display: flex;
		flex-flow: column-reverse nowrap;
		align-items: center;
		justify-content: center;
	}
	nav p img {
		margin-top: -5px;
	}
}
nav p {
	display: inline-block;
	padding: 0.3rem;
	margin: 0 0.6rem;
}

/* small icon for my logo */
nav p img {
	width: 20px;
	margin-right: -10px; /* adjust the SVG a little because it was off center */
}
nav ul {
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-evenly;

	border-bottom: 1px solid #e0e0e0;
	background-color: rgba(255, 255, 255, 0.3);
}
nav ul li {
	margin: 0 0.2rem;
	padding: 0 0.3rem;
}
nav ul li:hover {
	border-bottom: 1px solid black;
}

.header {
	width: 100%;
	height: 100vh;
	position: sticky;
	top: 0px;
	background-color: rgba(255, 255, 255, 0);
	/* border: 1px solid black; */
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

/* give depth to each background image so they layer correctly on scroll */
#motorway {
	z-index: 1;
}

#mountains {
	z-index: 1;
}
#electrical-towers {
	z-index: 2;
}
#roadside-trees {
	z-index: 3;
}
#roadside-shrubs {
	z-index: 5;
}
#infrastructure {
	z-index: 6;
}

/* flex the about-me so the sections align in column */
#about {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-evenly;
}
#about .box {
	z-index: 6;
}
#bigleo {
	max-width: 200px;
	border-radius: 1rem;
	border: 4px solid white;
}
.flat {
	white-space: nowrap;
	color: rgba(0, 60, 0, 1);
}
.header img {
	align-self: center;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	object-position: center bottom;
}
.content-header {
	background-color: rgba(0, 60, 0, 1);
	border: 4px solid white;
	border-radius: 1.2rem;
	padding: 0.6rem;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}
.content {
	background-color: rgb(230, 230, 230);
	border: 4px solid white;
	color: #645014;
	padding: 0.6rem;
	border-radius: 1.2rem;
	margin: 0.3rem 0;
}

.box {
	font-family: 'Poppins';
	padding: 0.6rem;
	border-radius: 8px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	width: fit-content;
	max-width: 70%;
	height: 100vh;
	margin: 1rem 10% 1rem 10%;
	z-index: 3;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

#work {
	z-index: 6;
}
a#linkedin-button,
a#github-button {
	background-color: #fff2cc;
}
#linkedin-button img,
#github-button img {
	width: 50px;
	margin: 0.6rem;
}
#portfolio {
	z-index: 6;
}
#portfolio-signature img {
	border: 4px solid white;
	border-radius: 1rem;
}
#portfolio-signature:hover {
	border-radius: 1rem;
	box-shadow: inset 0px 0px 2px rgb(255, 255, 255), 0 0 10px rgba(255, 255, 255, 1);
}

#portfolio-project-1,
#portfolio-project-2,
#portfolio-project-3 {
	z-index: 6;
}
.portfolio-project-1-images {
	width: 50%;
	/* background-color: #e0e0e0; */
	background-color: #fff;
	/* padding: 0.6rem; */
	border-radius: 1rem;
	/* box-shadow: inset 0px 0px 2px rgb(255, 255, 255), 0 0 10px rgba(255, 255, 255, 1); */
	border: 4px solid white;
}
.portfolio-project-1-images:hover {
	box-shadow: inset 0px 0px 2px rgb(255, 255, 255), 0 0 10px rgba(255, 255, 255, 1);
}

#portfolio-project-2-image {
	width: 50%;
	/* background-color: #e0e0e0; */
	/* padding: 0.6rem; */
	border-radius: 1rem;
	/* box-shadow: inset 0px 0px 2px rgb(255, 255, 255), 0 0 10px rgba(255, 255, 255, 1); */
	border: 4px solid white;
}
#portfolio-project-2-image:hover {
	box-shadow: inset 0px 0px 2px rgb(255, 255, 255), 0 0 10px rgba(255, 255, 255, 1);
}
#portfolio-project-3-image {
	max-width: 50%;
	/* background-color: #e0e0e0; */
	/* padding: 0.6rem; */
	border-radius: 1rem;
	/* box-shadow: inset 0px 0px 2px rgb(255, 255, 255), 0 0 10px rgba(255, 255, 255, 1); */
	border: 4px solid white;
}
#portfolio-project-3-image:hover {
	box-shadow: inset 0px 0px 2px rgb(255, 255, 255), 0 0 10px rgba(255, 255, 255, 1);
}
#resume {
	z-index: 6;
}

.wrapper {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}
.box header {
	font-size: 30px;
}
.box p {
	font-size: 16px;
}

.portfolio-image {
	/* flex: 5; */
	border-radius: 1rem;
	object-fit: cover;
	width: 100%;
	max-height: 50vh;
}

.portfolio:hover {
	cursor: pointer;
}
.portfolio-header {
	flex: 1;
	position: relative;
	margin-top: -20px;
	border: 1px solid gray;
	border-radius: 8px;
	transition: all 0.5s ease-in;
	padding: 3px 5px;
	background-color: #977e7e;
	color: white;
	font-size: 20px;
}
.portfolio .portfolio-header {
	border-radius: 8px;
	transition: all 0.5s ease-in-out;
}

#contact {
	z-index: 6;
}

.bg-modal {
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	width: 500px;
	height: 300px;

	opacity: 1;

	text-align: center;
	padding: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#small-leo {
	flex: 1;
	width: 100px;
	object-fit: cover;
	border-radius: 1rem;
	border: 4px solid rgba(255, 255, 255, 0.7);
	margin-bottom: 10px;
}

form {
	width: 100%;
	flex: 1 1 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	width: 100%;
	display: block;

	border-radius: 5px;
	border: 1px solid black;
	color: white;
	padding: 2px;
	text-align: center;
	margin-bottom: 14px;
	line-height: 2;
	font-family: 'Poppins';
	background-color: rgba(11, 95, 22, 0.8);
}

::placeholder {
	font-family: 'Poppins';
	color: rgb(255, 255, 255);
}

.btn {
	padding: 4px 16px;
	margin: 0px;
	background-color: rgba(0, 60, 0, 1);
	border-radius: 8px;
	border: 3px solid white;
	color: white;
	cursor: pointer;
	font-size: 12px;
	display: inline-block;
}
.btn:hover {
	transform: scale(0.98);
}
.btn:focus {
	outline: 0;
}

a,
a:visited,
a:active,
a:hover {
	text-decoration: none;
	color: black;
	text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
	transition: box-shadow 0.3px;
}

footer {
	z-index: 1;
	height: fit-content;
	color: #e3e3e3;
	padding: 10px;
	font-size: smaller;
}
