/*****************
 * Imported Font *
	*****************/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/***************
  Custom Colors 
	***************/

:root {
	/* recycled colors */
	--sky-yellow: rgb(255, 242, 204);
	--primary-color: rgb(255, 255, 255);
	--secondary-color: rgb(0, 0, 0);

	/* Background Colors */
	--body-bg-color: var(--sky-yellow);
	--nav-bg-color: rgba(255, 255, 255, 0.3);
	--main-bg-color: var(--sky-yellow);
	--contentheader-bg-color: rgba(0, 60, 0, 1);
	--content-bg-color: rgba(255, 255, 255, 0.8);
	--btnwrapper-bg-color: rgba(255, 255, 255, 0.8);
	--btnwrapper-hover-color: rgba(0, 0, 0, 0.5);
	--anchor-past-project-bg-color: var(--primary-color);
	--form-bg-color: rgba(11, 95, 22, 1);
	--input-bg-color: rgba(255, 255, 255, 0.5);

	/* Text Colors */
	--box-color: var(--primary-color);
	--content-color: rgb(100, 80, 20);
	--hashtags-color: rgb(0, 60, 0);
	--anchor-color: var(--secondary-color);
	--anchor-textshadow: rgba(255, 255, 255, 0.3);
	--caret-color: var(--primary-color);
	--footer-color: rgba(0, 0, 0, 0.5);

	/* Border Colors */
	--contentheader-border-color: var(--primary-color);
	--content-border-color: var(--primary-color);
	--avatar-border-color: var(--primary-color);
	--icon-border-color: var(--secondary-color);
	--anchor-boxshadow: var(--primary-color);
	--anchor-past-project-border-color: var(--primary-color);
	--input-border-color: var(--primary-color);
}

/********************
  Universal Selector 
	********************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/********************
  Semantic Selectors
	********************/

html {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth; /* for smoother scrolling */
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;

	background-color: var(--body-bg-color); /* set a color to appear in the background, when the screen height is a lot smaller than width in landscape orientation */

	display: flex; /* flex the sections so that on oversize screens the content centers */
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

/******************************
  Header with Navbar inside it
	******************************/

body > header {
	width: 100%;
	/* flex so navbar is centered */
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

/********
  Navbar
	********/

nav {
	margin: auto;
	width: 100%;
	position: fixed;
	display: flex; /* flex the navbar items to the top and justify space-between so icon flexes left and links flex right */
	flex-flow: row nowrap;
	align-items: flex-start; /* flex everything to the top */
	justify-content: space-between;
	max-width: calc(100vh * 1499 / 842); /* limit navbar by the car's original dimensions so it sits inside the frame vertically aligned to the car */
	padding-right: 10px;

	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 7;
}

/* container for logo */
nav p {
	display: inline-block;
	padding: 0.3rem;
	margin: 0 0.6rem;
}

/* logo */
nav p img {
	width: 20px;
	margin-right: -10px; /* adjust the SVG a little because it was off center */
}

/* flex navbar column for smaller devices so the icon appears below the horizontal list */
@media screen and (max-width: 768px) {
	nav {
		display: flex;
		flex-flow: column-reverse nowrap;
		align-items: center;
		justify-content: center;
	}
	nav p a img {
		margin-top: -5px;
	}
}

/* container for menu items */
nav ul {
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-evenly;
	border-bottom: 1px solid #e0e0e0;
	background-color: var(--nav-bg-color);
}

/* menu items */
nav ul li {
	margin: 0 0.2rem;
	padding: 0 0.3rem;
}

nav ul li a:hover {
	border-bottom: 1px solid black; /* make a line appear when the menu is clicked */
}

/****************************************************************************
  Main with Sections of Scrolling Images and Sections of Scrolling Articles
 ****************************************************************************/

main {
	background-color: var(--main-bg-color); /* dreamy yellow sky color */
	/* limit the width by the scrolling images' original imagesize ratio (1499 x 842) so it doesn't skew the car's shape on the page */
	max-width: calc(100vh * 1499 / 842);
}

/*****************************
 Sections of Scrolling Images
	*****************************/

/* container for images */
figure {
	width: 100%;
	height: 100vh;
	position: sticky;
	top: 0px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

/* images */
figure img {
	align-self: center;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	object-position: center bottom;
}

/* add depth to images so they layer from vertical scroll and also their intrinsic transparency and their calculated image depths */
#bg-motorway {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 0;
}
#bg-mountains {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 1;
}
#bg-life {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 2;
}
#bg-road {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 3;
}
#bg-car {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 4;
}
#bg-human {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 5;
}

/*******************************
 Sections of Scrolling Articles
	*******************************/

/* flex parent so articles align in a column */
#scrolling-text {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 6;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
}

/*******************
 Scrolling Articles
	*******************/

.box {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 8;

	width: calc(100vw * 0.8);
	max-width: 800px;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	border-radius: 8px;
	text-align: center;
	vertical-align: middle;
	height: 100vh;
	margin: 1rem 10% 1rem 10%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	color: var(--box-color);
}

.box p {
	font-size: 16px;
}

/* big green displays for headings */
.content-header {
	background-color: var(--contentheader-bg-color);
	border: 4px solid var(--contentheader-border-color);
	border-radius: 0.6rem;
	padding: 0.6rem 6.4rem;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

/* content-header headings */
.content-header h1 {
	font-size: 1.5rem;
}
.content-header h3 {
	font-size: 1.25rem;
}

/* this class is used when there are more than one .content and needs to be flexed to a column */
.content-wrapper {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

/* content */
.content {
	background-color: var(--content-bg-color);
	border-top: 4px solid var(--content-border-color);
	border-bottom: 4px solid var(--content-border-color);
	color: var(--content-color);
	padding: 0.6rem;
	margin: 0.3rem 0;
	width: 100%;
}

/* content headings */
.content h3 {
	margin: 0.3rem 0;
}

/* content images - screenshots of portfolio projects */
.content-image {
	border-radius: 1rem;
	object-fit: cover;
	object-position: top;
	width: 100%;
	max-height: 50vh;
}

/* picture of Leo */
#photo {
	max-width: 200px;
	border-radius: 1rem;
	border: 4px solid #ffffff;
}

/* the lines with hashtags  */
.hashtags {
	text-align: center; /* when they wrap on smaller screens */
	color: var(--hashtags-color);
	font-size: 12px;
	position: relative;
}

/* button links to social network and public repo */
.btn-wrapper {
	background-color: var(--btnwrapper-bg-color);
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	padding: 0.6rem;
	margin: 0.3rem 0;
	width: 100%;
	transition: transform 0.5s ease-in-out;
}
.btn-wrapper:hover {
	transform: scale(0.98);
	transition: transform 0.5s linear;
	background-color: var(--btnwrapper-hover-color);
	cursor: pointer;
	position: relative;
}
.btn:focus {
	outline: 0;
}

a#linkedin-button,
a#github-button {
	border: 1px solid black; /* add a little shade behind icons */
	border-radius: 0.6rem;
	display: inline-block;
	transition: transform 0.3s linear;
}

/* glow and enlarge on hover */
a#linkedin-button:hover,
a#github-button:hover {
	box-shadow: inset 0 0 2px var(--anchor-boxshadow), 0 0 10px var(--anchor-boxshadow);
	transform: scale(1.02);
	transition: transform 0.3s linear;
}

a,
a:visited,
a:active,
a:hover {
	text-decoration: none;
	color: var(--anchor-color);
	text-shadow: 1px 1px var(--anchor-textshadow);
	transition: box-shadow 0.3s;
}

/* set width for Linkedin and Github icons  */
#linkedin-button img,
#github-button img {
	width: 50px;
	margin: 0.6rem;
}

/****************************
  Article: Signature Project
 ****************************/

/* set the first image width 100%, which is wider than the other images which are 75% */
#portfolio-signature {
	width: 100%;
}
#portfolio-signature img {
	border: 4px solid white;
	border-radius: 1rem;
}
#portfolio-signature:hover {
	border-radius: 1rem;
	box-shadow: inset 0px 0px 2px rgb(255, 255, 255), 0 0 10px rgba(255, 255, 255, 1);
}

/*************************
  Articles: Past Projects
 *************************/

.anchor-past-project {
	width: 75%;
	background-color: var(--anchor-past-project-bg-color);
	border-radius: 1rem;
	border: 4px solid var(--anchor-past-project-border-color);
	transition: box-shadow 0.3s linear;
}
.anchor-past-project:hover {
	box-shadow: inset 0 0 2px var(--anchor-past-project-border-color), 0 0 10px var(--anchor-past-project-border-color);
}

/**************************
  Article: Contact Me Form
 **************************/

form {
	background-color: var(--form-bg-color);
	padding: 1rem;
	width: 100%;
	border-radius: 5px;

	/* grid 2x3 to align labels and forms */
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-auto-rows: 1fr;
	gap: 1rem 0.5rem;
	align-items: center;
	justify-content: center;
}

/* use label instead of placeholder for UX reasons */
label {
	padding-left: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

input {
	background-color: var(--input-bg-color);
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	border: none;
	border-bottom: 2px solid var(--input-border-color);
	border-radius: 5px 5px 0 0;

	text-align: left;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	color: black;
}

@media screen and (max-width: 768px) {
	label {
		grid-column: span 2;
		text-align: center;
		justify-content: center;
		padding-left: 0;
	}
	input {
		grid-column: span 2;
		text-align: center;
		justify-content: center;
	}
}

/* override default submit button's border radius */
input[type='submit'] {
	border-radius: 0;
}

/* override default text and textarea's black border on focus */
input:focus-visible {
	outline: none;
}

/* make the blinking text cursor white */
input,
textarea {
	caret-color: var(--caret-color);
}

/* format the Send Your Message button */
#label-send {
	grid-column: span 2;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	height: 100%;
}

/*******
 Footer
	*******/

footer {
	width: 100%;
	color: var(--footer-color);
	font-size: 12px;
	padding: 0.6rem 0;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}
.footer-content {
	display: inline;
	margin: 0.6rem;
}
