/*****************
 * Imported Font *
	*****************/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/******************
  Custom Variables 
	******************/

:root {
	/* Background Colors */
	--color-bg-body: #fff2cc;
}

/********************
  Universal Selector 
	********************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/********************
  Semantic Selectors
	********************/

html {
	scroll-behavior: smooth; /* for smoother scrolling */
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;

	position: relative;

	/* set a color for when the screen is wider than the width of main */
	background-color: var(--color-bg-body);

	/* flex the sections so that on oversize screens the content centers */
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

/******************************
  Header with Navbar inside it
	******************************/

header {
	width: 100%;
	/* flex so navbar is centered */
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

/********
  Navbar
	********/

nav {
	margin: auto;
	width: 100%;
	position: fixed;
	/* flex the navbar items to the top and justify space-between so icon flexes left and links flex right */
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start; /* flex everything up */
	justify-content: space-between;
	max-width: calc(100vh * 1499 / 842); /* limit navbar by the car's original dimensions so it sits inside the frame vertically aligned to the car */
	padding-right: 10px;
	z-index: 7;
}

/* container for logo */
nav p {
	display: inline-block;
	padding: 0.3rem;
	margin: 0 0.6rem;
}

/* logo */
nav p img {
	width: 20px;
	margin-right: -10px; /* adjust the SVG a little because it was off center */
}

/* flex navbar column for smaller devices so the icon appears below the horizontal list */
@media screen and (max-width: 768px) {
	nav {
		display: flex;
		flex-flow: column-reverse nowrap;
		align-items: center;
		justify-content: center;
	}
	nav p a img {
		margin-top: -5px;
	}
}

/* container for menu items */
nav ul {
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-evenly;

	border-bottom: 1px solid #e0e0e0;
	background-color: rgba(255, 255, 255, 0.3);
}

/* menu items */
nav ul li {
	margin: 0 0.2rem;
	padding: 0 0.3rem;
}

nav ul li a:hover {
	border-bottom: 1px solid black; /* make a line appear when the menu is clicked */
}

/****************************************************************************
  Main with Sections of Scrolling Images and Sections of Scrolling Articles
 ****************************************************************************/

main {
	background-color: #fff2cc; /* dreamy yellow sky color */
	/* limit the width by the scrolling images' original imagesize ratio (1499 x 842) so it doesn't skew the car's shape on the page */
	max-width: calc(100vh * 1499 / 842);
}

/*****************************
 Sections of Scrolling Images
	*****************************/

/* container for images */
figure {
	width: 100%;
	height: 100vh;
	position: sticky;
	top: 0px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

/* images */
figure img {
	align-self: center;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	object-position: center bottom;
}

/* add depth to images so they layer from vertical scroll and also their intrinsic transparency and their calculated image depths */
#bg-motorway {
	z-index: 0;
}
#bg-mountains {
	z-index: 1;
}
#bg-life {
	z-index: 2;
}
#bg-road {
	z-index: 3;
}
#bg-car {
	z-index: 4;
}
#bg-human {
	z-index: 5;
}

/*******************************
 Sections of Scrolling Articles
	*******************************/

/* flex parent so articles align in a column */
#scrolling-text {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	z-index: 6;
}

/*******************
 Scrolling Articles
	*******************/

.box {
	width: calc(100vw * 0.8);
	max-width: 800px;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	border-radius: 8px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	height: 100vh;
	margin: 1rem 10% 1rem 10%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.box p {
	font-size: 16px;
}

/* big green displays for headings */
.content-header {
	background-color: rgba(0, 60, 0, 1);
	border: 4px solid white;
	border-radius: 0.6rem;
	padding: 0.6rem 6.4rem;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

/* content-header headings */
.content-header h1 {
	font-size: 1.5rem;
}
.content-header h3 {
	font-size: 1.25rem;
}

/* this class is used when there are more than one .content and needs to be flexed to a column */
.content-wrapper {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

/* content */
.content {
	background-color: rgba(255, 255, 255, 0.8);
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	color: #645014;
	padding: 0.6rem;
	margin: 0.3rem 0;
	width: 100%;
}

/* content headings */
.content h3 {
	margin-top: 0.5rem;
}

/* content images - screenshots of portfolio projects */
.content-image {
	border-radius: 1rem;
	object-fit: cover;
	object-position: top;
	width: 100%;
	max-height: 50vh;
}

/* picture of Leo */
#bigleo {
	/* as opposed to iconLeo */
	max-width: 200px;
	border-radius: 1rem;
	border: 4px solid white;
}

/* the lines with hashtags don't wrap */
/* TODO: make a new class called hashtags and add the sub */
.flat {
	white-space: nowrap;
	color: rgba(0, 60, 0, 1);
}

/* button links to social network and public repo */
.btn-wrapper {
	background-color: rgba(255, 255, 255, 0.8);
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	padding: 0.6rem;
	margin: 0.3rem 0;
	width: 100%;
	transition: transform 0.5s ease-in-out;
}
.btn-wrapper:hover {
	transform: scale(0.98);
	transition: transform 0.5s ease-in-out;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	position: relative;
}
.btn:focus {
	outline: 0;
}

a#linkedin-button,
a#github-button {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0.6rem;
	display: inline-block;
	transition: transform 0.5s ease-in-out;
}

/* glow and enlarge on hover */
a#linkedin-button:hover,
a#github-button:hover {
	box-shadow: inset 0px 0px 2px rgb(255 255 255), 0 0 10px rgb(255 255 255);
	transform: scale(1.1);
	transition: transform 0.5s ease-in-out;
}

a,
a:visited,
a:active,
a:hover {
	text-decoration: none;
	color: black;
	text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
	transition: box-shadow 0.3s;
}

/* set width for Linkedin and Github icons  */
#linkedin-button img,
#github-button img {
	width: 50px;
	margin: 0.6rem;
}

/****************************
  Article: Signature Project
 ****************************/

/* set the first image width 100%, which is wider than the other images which are 75% */
#portfolio-signature {
	width: 100%;
}
#portfolio-signature img {
	border: 4px solid white;
	border-radius: 1rem;
}
#portfolio-signature:hover {
	border-radius: 1rem;
	box-shadow: inset 0px 0px 2px rgb(255, 255, 255), 0 0 10px rgba(255, 255, 255, 1);
}

/*************************
  Articles: Past Projects
 *************************/

.anchor-past-project {
	width: 75%;
	background-color: #fff;
	border-radius: 1rem;
	border: 4px solid white;
}
.anchor-past-project:hover {
	box-shadow: inset 0px 0px 2px rgb(255, 255, 255), 0 0 10px rgba(255, 255, 255, 1);
}

/**************************
  Article: Contact Me Form
 **************************/

form {
	background-color: rgba(11, 95, 22, 1);
	padding: 1rem;
	width: 100%;
	border-radius: 5px;

	/* grid 2x3 to align labels and forms */
	display: grid;
	grid-template: repeat(4, 1fr) / min-content 1fr;
	gap: 1rem 0.5rem;
	align-items: center;
	justify-content: center;
}

/* use label instead of placeholder for UX reasons */
label {
	padding-left: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

input {
	background-color: rgba(255, 255, 255, 0.5);
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	border: none;
	border-bottom: 2px solid white;
	border-radius: 5px 5px 0 0;

	text-align: left;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	color: black;
}

/* override default submit button's border radius */
input[type='submit'] {
	border-radius: 0;
}

/* override default text and textarea's black border on focus */
input:focus-visible {
	outline: none;
}

/* make the blinking text cursor white */
input,
textarea {
	caret-color: white;
}

/* format the Send Your Message button */
#label-send {
	grid-column: span 2;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	height: 100%;
}

/*******
 Footer
	*******/

footer {
	width: 100%;
	color: rgba(0, 0, 0, 0.5);
	font-size: 12px;
	padding: 0.6rem 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-items: center;
}
